[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
pda_seed_collision_vulnerable = "PdaVu1nBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB"
pda_seed_collision_secure = "PdaS3cCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000
